@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
 
  font-family: "Inter", sans-serif;
}

a {
  color: #0083b0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-weight: 500;
}

a:hover {
  color: #00475e;
}

* {
  box-sizing: border-box;
}

body {
  background: #e7e8e8;
  color: #070707;
}

input 
{
  margin-top: 8px;
  margin-bottom: 18px;
  border: none;
  padding: 14px 18px;
  border-radius: 8px;
}

label
{
  font-family: inherit;
  font-weight: 600;
}

