:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Inter";

  --foreground-rgb: 0,0,0;
  --background: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}

.button
{
  display: flex;
  background-color: aqua;
  padding: 8px 6px;
  margin: 4px 6px;


}